body {
  background-color: #000000;
}

h1 {
  color: #fff;
  margin-bottom:2%;
  margin-top:-1%;
  text-align:center;
}

span.space{
  color: #fff;
}
.custom-header {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  font-family: 'Quattrocento', serif;
}


.table-bordered>tbody>tr>td.gameBoard {
  border: 2px dashed #fff;
}

.gameBoard {
  width: 150px;
  height: 150px;
}

.space {
  font-size:80px;
}

.table td {
   text-align: center;
}

.btn.outline {
    padding: 12px 22px;
    font-weight: 800;
    text-transform:uppercase;
}

.score-board-color{
  color:white;
}

.center{
  text-align:center;
}

.modal-body{
  padding-top:46%;
}
