body {
  background-color: #b0e0e6;
}

.jumbotron {
  text-align: center;
}

.table-bordered>tbody>tr>td {
  border: 2px solid black;
}

td {
  width: 150px;
  height: 200px;
  border-color: black;
}

.btn {
  padding: 30px;
  background-color: rgba(0,0,0,.02);
  margin-left: 35%;
}
